html.grid-test, .grid-test body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}


.wrapper {
	margin: 0 auto;
	max-width: 1280px;
}

.grid-test .wrapper {
	height: 100%;
}

.grid-row {
	clear: both;
	margin: 0;
	width: 100%;
	padding: 0 55px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-row:before,
.grid-row:after {
    content: "";
    display: table;
}
.grid-row:after {
    clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4,
.grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12 {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-1.gutter, .grid-2.gutter, .grid-3.gutter, .grid-4.gutter,
.grid-5.gutter, .grid-6.gutter, .grid-7.gutter, .grid-8.gutter,
.grid-9.gutter, .grid-10.gutter, .grid-11.gutter, .grid-12.gutter {
	padding-right: 2.56411%;
}

.grid-test .grid-1, .grid-test .grid-2, .grid-test .grid-3, .grid-test .grid-4,
.grid-test .grid-5, .grid-test .grid-6, .grid-test .grid-7, .grid-test .grid-8,
.grid-test .grid-9, .grid-test .grid-10, .grid-test .grid-11, .grid-test .grid-12 {
	background: #ffb5f3;
	color: #b57fac;
	clear: none;
	display: inline;
	float: left;
	margin-bottom: 30px;
	position: relative;
	height: 200px;
}

.grid-1 {
    width: 8.33333333333%;
}
.grid-2 {
    width: 16.6666666667%;
}
.grid-3 {
    width: 25.0%;
}
.grid-4 {
    width: 33.3333333333%;
}
.grid-5 {
    width: 41.6666666667%;
}
.grid-6 {
    width: 50.0%;
}
.grid-7 {
    width: 58.3333333333%;
}
.grid-8 {
    width: 66.6666666667%;
}
.grid-9 {
    width: 75.0%;
}
.grid-10 {
    width: 83.3333333333%;
}
.grid-11 {
    width: 91.6666666667%;
}
.grid-12.gutter  {
	width: 100%;
}
/*
 .grid-1.gutter {
	width: 5.9829%;
}
.grid-2.gutter {
	width: 14.52991%;
}
.grid-3.gutter {
	width: 23.07692%;
}
.grid-4.gutter {
	width: 31.62393%;
}
.grid-5.gutter {
	width: 40.17094%;
}
.grid-6.gutter {
	width: 48.71794%;
}
.grid-7.gutter {
	width: 57.26495%;
}
.grid-8.gutter {
	width: 65.81196%;
}
.grid-9.gutter {
	width: 74.35897%;
}
.grid-10.gutter  {
	width: 82.90598%;
}
.grid-11.gutter  {
	width: 91.45299%;
}*/

@media (max-width: 1024px) {
	.grid-row {
		padding: 0 42px;
	}
}

@media (max-width: 640px) {
	.wrapper {
		max-width: 100%;
	}
	.grid-row {
		padding: 0 10px;
	}
	.grid-1, .grid-2, .grid-3, .grid-4,
	.grid-5, .grid-6, .grid-7, .grid-8,
	.grid-9, .grid-10, .grid-11, .grid-12 {
		float: none;
		width: 100%;
	}
}