/*home start*/
body {

	background-color: #dee1e3;
}
.new-products, .bestseller-products, .featured-product,
.banner, .brands, .info, .all_categories, .product-page {
	margin-bottom: 20px;
	font-family: 'Bender';
	font-size: 14px;
	color: #000;
}
.new-item {
	height: 76px;
}
.new-products .new-item {
	margin-top: -76px;
}
.new-item div {
	background-color: #fff;
}
.new-item h2 {
	float: left;
	padding: 22px 30px 23px;
	margin: 0;
	font-style: italic;
	font-weight: 900;
	font-size: 24px;
}
.previous-next-page {
	float: right;
	padding: 29px 30px 26px;
	margin: 0;
	background-color: #fff;
}
.previous-next-page a {
	float: left;
	padding: 0;
}
.next {
	margin-left: 12px;
}
.product-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.product-list li {
	position: relative;
	background-color: #fff;
	flex: 1;
	height: inherit;
}
.item {
	border-top: 2px solid #f6f6f6;
	border-left: 2px solid #f6f6f6;
	box-sizing: border-box;
}
.item:first-child {
	border-left: 0;
}
.item > a {
	display: block;
}
.item > a img,
.fph-img > img {
	display: block;
	width: 100%;
}
.item-home-info {
	min-height: 86px;
	width: 100%;
	box-sizing: border-box;
	padding: 30px 30px 0 30px;
}
.item-home-info a,
.fph-info-text a {
	display: block;
	float: left;
	width: 61.29%;
	color: #555;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}
.price {
	display: block;
	float: left;
	width: 38.71%;
	text-align: right;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	color: #17c7be;
}
.old-price {
	display: block;
	color: #a1a1a1;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 46px solid transparent;
	border-right: 46px solid transparent;
	position: absolute;
	top: -2px;
	left: -2px;
}
.trngl-new {
	border-top-color: #8046f7;
}
.trngl-sale {
	border-top-color: #3fe206;
}
.trngl-hot {
	border-top-color: #ed1651;
}
.trngl-text {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 9px;
	font-weight: 700;
	font-style: italic;
	top: 7px;
	left: 3px;
}

// featured product hover start
.featured-product ul li {
	position: relative;
}
.featured-product-hover {
	display: none;
	position: absolute;
	width: 101.35%;
	top: -99px;
	left: -2px;
	z-index: 3;
	-webkit-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 4px 25px 0px rgba(0,0,0,0.75);
}
.fph-previews-img {
	width: 100%;
	background-color: #fff;
	height: 96px;
	box-sizing: border-box;
	padding: 28px 30px 0 30px;
}
.fph-previews-img a {
	height: 58px;
	width: 30.5%;
	float: left;
	margin-right: 4%;
	display: block;
}
.fph-previews-img div {
	width: 100%;
	height: 100%;
	background-color: #ccc;
	box-sizing: border-box;
}
.fph-previews-img a:last-child {
	margin-right: 0;
}
.fph-previews-img a:hover div {
	border: 3px solid black;
}
.fph-img {
	position: relative;
}
.fph-img a {
	position: absolute;
	top: calc(50% - 8.5px);
}
.fph-img a:nth-of-type(1) {
	left: 30px;
}
.fph-img a:nth-of-type(2) {
	right: 30px;
}
.fph-info {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding: 26px 32px 0 32px;
}
.fph-buttons {
	margin: 25px 0 38px;
	width: 100%;
}
.fph-buttons a {
	display: block;
	float: left;
	line-height: 47px;
	text-align: center;
	margin-right: 2.5%;
}
.fph-buttons a:first-child {
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	background-color: #17c7be;
	width: 55%;
}
.fph-buttons a:nth-child(2),
.fph-buttons a:nth-child(3) {
	font-size: 16px;
	color: #999;
	background-color: #e9e9e9;
	width: 20%;
}
.fph-buttons a:nth-child(3) {
	margin-right: 0;
}
.name span {
	color: #999;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	display: block;
	margin-top: 9px;
}
.banner {
	font-size: 36px;
	line-height: 36px;
	font-style: italic;
}

.banner span {
	display: block;
	font-weight: 200;
	font-style: italic;
}
.adv-1, .adv-2, .adv-3 {
	height: 311px;
	padding: 30px;
	background-color: #666666;
}
.adv-1 h3,
.adv-2 h3,
.adv-3 h3 {
	margin: 0;
}
.adv-2 {
	background-color: #999;
}
.adv-1,
.adv-3 {
	color: #fff;
}
.brands {
	font-size: 36px;
	font-style: italic;
	font-weight: 900;
}
.brands-wrapper {
	width: 100%;
	position: relative;
}
.brand {
	line-height: 237px;
	text-align: center;
	background-color: #fff;
}
.brands-wrapper > a {
	position: absolute;
	display: block;
	top: 110px;
}
.brands-wrapper > a:nth-of-type(1) {
	left: 30px;
}
.brands-wrapper > a:nth-of-type(2) {
	right: 30px;
}
.brands-wrapper > div:nth-of-type(2) {
	color: #ff0000;
}
.about, .twitter, .facebook {
	position: relative;
	height: 311px;
	padding: 30px;
}
.about {
	background-color: #fff;
}
.twitter {
	color: #fff;
	background-color: #3fccfd;
}
.facebook {
	color: #fff;
	background-color: #4966b6;
}
.about h2,
.twitter h2,
.facebook h2,
.shopping_options h2 {
	font-size: 24px;
	font-style: italic;
	font-weight: 900;
	margin: 0;
}
.about p,
.twitter p,
.facebook p {
	font-family: 'Roboto';
	font-style: normal;
}
.about p {
	line-height: 24px;
}
.twitter p {
	line-height: 1.2;
}
.facebook p {
	margin-bottom: 0;
  	font-family: "Arial";
  	font-size: 12px;
	line-height: 2;
}
.last-post {
	padding-top: 15px;
}
.before-last > p:before,
.last-post > p:before {
	position: absolute;
	content: "\201C";
	font-size: 100px;
  	font-family: "Haettenschweiler";
  	color: #30b4e3;
  	opacity: 0.7;
}
.before-last > p:before {
	top: 40px;
	left: 22px;
}
.last-post > p:before {
	top: 135px;
	left: 22px;
}
.facebook figure {
	display: block;
	float: left;
	padding-left: 7px;
	padding-bottom: 7px;
	margin: 0;
	font-size: 9.476px;
  	font-family: "Arial";
  	line-height: 2.533;
  	text-align: center;
}
figure:nth-child(5n+1) {
	padding-left: 0px;
}
/*home end*/
/*all_categories start*/
.all_categories h1 {
	font-size: 72px;
	line-height: 60px;
	font-weight: 900;
	font-style: italic;
	padding: 20px 55px;
	margin: 0;
}
.shopping_options {
	height: 1119px;
	border-right: 2px solid #f6f6f6;
	box-sizing: border-box;
	padding: 30px;
	background-color: #fff;
}
.shopping_options li a {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
}
.category {
	padding: 0;
	background-color: #fff;
}
.category:last-child {
	border-right: 0;
}
.category .products-info .item-name {
	max-height: 86px;
}
.quantity {
	display: inline;
	float: right;
	padding: 30px 30px 30px 0;
	margin: 0;
	font-size: 14px;
	font-style: italic;
	font-weight: 900;
	color: #17c7be;
}
.products-info .item-name {
	float: left;
	padding: 30px 0 30px 30px;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
.products-info .second-row {
	padding-bottom: 0;
}
.filter-upper,
.filter-down {
	height: 76px;
	padding: 0;
	margin: 0;
	background-color: #fff;
}
.icons {
	padding-top: 30px;
	padding-left: 30px;
}
.icons img {
	display: inline;
}
.apps {
	padding-right: 15px;
}
.sort-by {
	padding: 24px 30px 22px 0;
	margin: 0;
}
.sort-by h4,
.show-per-page h4 {
	display: inline;
	margin: 0;
	font-style: italic;
	color: #333;
}
.sort-by-price,
.per-page {
	width: 110px;
	height: 30px;
	border: none;
	padding-left: 10px;
	background-color: #e9e9e9;
}
option[value="price"] {
	border-right: 2px solid red;
}
.show-per-page {
	float: right;
	padding: 24px 30px 22px;
}
.per-page {
	width: 80px;
}
.show-per-page span .per {
	font-style: normal;
}
.filter-down {
	border-top: 2px solid #f6f6f6;
	box-sizing: border-box;
}
/*all_categories end*/
/*categories start*/
.categories h1,
.product-page h1 {
	font-size: 72px;
	line-height: 60px;
	font-weight: bold;
	font-style: italic;
	padding-top: 50px;
	margin: 0;
}
.categories h1 span {
	font-style: normal;
	font-weight: 200;
	line-height: 60px;
}
.categories p {
	font-style: normal;
	font-weight: 200;
	padding-bottom: 25px;
	margin: 0;
	color: #999;
}
.filter {
	padding: 30px;
	margin-right: 30px;
	border-bottom: 2px solid #f1f1f1;
	background-color: #fff;
}
.filter .icons {
	padding: 0;
}
.filter .sort-by h4,
.filter .show-per-page h4 {
	display: block;
}
.filter .sort-by-price {
	width: 210px;
}
.filter .show-per-page {
	float: none;
	padding: 0;
}
.filter .per-page {
	width: 140px;
}
.filter .show-per-page .per {
	display: inline;
}
.sd_sidebar h2 {
	padding-bottom: 10px;
	margin: 0;
	font-size: 24px;
	font-style: italic;
	font-weight: 900;
	color: #000;
}
.filter-option {
	padding: 30px 30px 0 30px;
	margin-right: 30px;
	background-color: #fff;
}
.filter-option:last-child {
	padding-bottom: 30px;
}
.price-list, .color-list, .brands-list, .size-list {
    font-size: 14px;
    line-height: 30px;
}
label span {
	color: #c2c2c2;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #e9e9e9;
    margin: -1px 15px 0 0;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
    background-image: url(../img/check-active.png);
}
input[type="checkbox"]:checked + label {
    color: #000;
}
input[type="checkbox"]:disabled + label:before {
    cursor: not-allowed;
}
input[type="checkbox"]:disabled + label {
    color: #e2e2e2;
    cursor: not-allowed;
}
.product-slider {
	padding: 0;
	margin-bottom: 30px;
}
.cat-slider img {
	position: relative;
	width: 877.5px;
}
.categories-product h2 {
	position: absolute;
	top: 70px;
	right: 70px;
	margin: 0;
	font-style: italic;
	font-weight: 900;
	font-size: 48px;
	line-height: 48px;
	color: #fff;
}
.button-color {
	position: absolute;
	left: 24px;
	bottom: 28px;
}
.button-color button {
	width: 16px;
	height: 8px;
	padding: 1px;
	margin-right: 5px;
}
.button-color button:first-child {
	width: 20px;
	height: 12px;
	padding: 1px;
	border: 1px solid #b3b3b3;
}
.gray {
	background-color: #e6e0e0;
}
.dark-gray {
	background-color: #3d402f;
}
.light-blue {
	background-color: #43c0cf;
}
.blue {
	background-color: #0082af;
}
.mavy-blue {
	background-color: #305abc;
}
.black {
	background-color: #3d402f;
}
.green {
	background-color: #4aaf00;
}
.pink {
	background-color: #f60ae3;
}
.red {
	background-color: #c9091f;
}
.orange {
	background-color: #ec6115;
}
.yellow {
	background-color: #d9db22;
}
.product-items {
	padding: 0;
}
.product-items article {
	width: 272.5px;
	min-height: 340px;
	border: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #fff; 
}
.product-items article:last-child {
	margin-right: 0;
}
.item {
	position: relative;
}
.item a .button-color {
	position: static;
	padding-top: 19px;
	padding-left: 24px;
	margin: 0;
}
.products-info .name {
	float: left;
	padding-top: 19px;
	padding-left: 24px;
	margin: 0;
	font-weight: 900;
}
.products-info .price {
	float: right;
	width: auto;
	padding-top: 19px;
	padding-right: 22px;
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
	color: #17c7be;
}
.view-more {
    width: 877.5px;
    height: 55px;
    border: 0;
    margin-bottom: 30px;
    background-color: #17c7be;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
.view-more i {
	padding-left: 15px;
} 
.status .triangle {
	top: 0;
	left: 0;
}
/*categories end*/
/*product-page start*/
.product-page h1 {
	padding-bottom: 20px;
}
.product {
	margin: 0;  
	background-color: #fff;
}
.product-img a img {
	border-right: 2px solid #f1f1f1;
}
.more-img div {
	display: inline;
	float: left;
	border-top: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
}
.more-products-img {
	width: 142px;
	height: 115px;
	background-color: #d1d3d4;
}
.more-products-img .fa-caret-right {
	padding: 22.5px 58.5px;
    font-size: 70px;
    text-align: center;
    color: #17c7be;
}
.description {
	padding: 36px 16px;
	background-color: #fff;
}
.prices, .some-info, .select-size  form {
	margin-bottom: 25px;
}
.prices {
    font-weight: normal;
    font-style: italic;
}
.real-price {
    color: #17c7be;
    font-weight: 900;
    font-size: 30px;
}
.price-sale {
    margin-left: 30px;
    color: #999999;
    font-size: 18px;
    text-decoration: line-through;
}
.price-save {
    margin-left: 10px;
    color: #333333;
}
.price-review {
    margin-left: 135px;
    color: #17c7be;
    font-size: 14px;
}
.price-review i {
    margin-left: 5px;
}
.some-info {
	margin-top: 0;
    font-family: 'Roboto';
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}
.some-info p {
	margin: 0;
}
.some-info span  a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    color: #17c7be;
}
.select-size  form {
    font-family: "Roboto";
    font-size: 14px;
    color: #b4b4b4;
}
.but-color {
    width: 60px;
    height: 47px;
    margin-top: 10px;
    margin-right: 5px;
    border: 0;
}
.but-color:focus {
    border: 3px solid #000;
}
.switch-size {
    margin-top: -20px;
    list-style-type: none;   
}
.switch-item {
    float: left;
    width: 50px;
    height: 35px;
    padding-top: 12px;
    margin-right: 5px;
    border: none;
    background-color: #e9e9e9;
    color: #696969;
    text-align: center;
    text-transform: uppercase;
}
.switch-item:active {
    background-color: #000000;
    color: #ffffff;
}
.select-quantity input {
    width: 40px;
    height: 47px;
    margin: 0 0 0 20px;
    background-color: #e9e9e9;
    color: #999999;
    font-size: 18px;
}
.select-quantity input:last-child {
    margin-left: 0;
}
.select-quantity select {
    width: 55px;
    height: 47px;
    padding-left: 15px;
    border-right: 2px solid #dadada;
    border-left: 2px solid #dadada;
    background-color: #e9e9e9;
    text-align: center;
}
.cart-options {
	margin-top: 10px;
}
.cart-options .view-more {
    float: left;
    width: 165px;
    height: 47px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.cart-options .switch-item {
    height: 47px;
    padding-top: 0;
    margin-left: 15px;
}
.share-product {
    padding-left: 0;
    font-family: 'Roboto';
    font-size: 14px;
    color: #999999;
    list-style-type: none;
}
.share-item {
    float: left;
    margin-top: 41px;
    margin-right: 20px;
}
.share-item i {
    color: #999999;
    text-decoration: none;
}
/*overview start*/
.product-menu {
    width: 100%;
    height: 76px;
    border-bottom: 2px solid #333;
    background-color: #fff;
    color: #555;
    font-weight: 900;
    font-style: italic;
    font-size: 23px;
}
.product-menu li {
    float: left;
    padding: 23px;
    list-style-type: none;
}
.product-menu .active {
    background-color: #000;
    color: #fff;
}
.tab1-info {
    padding: 65px 65px 0 65px;
    margin-bottom: 30px;
    background-color: #ffffff;
    color: #000000;
}
.left-side h4 {
	margin: 0;
    text-transform: uppercase;
    font-size: 48px;
}
.blue-text {
	margin: 30px 0 0 0;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    line-height: 48px;
    color: #17c7be;
}
.tab1-text {
    padding: 0 50px 30px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.left-side img {
    margin-bottom: 0px;
    margin-left: -65px;
}
.right-side img {
   margin-left: 15px;
}
.right-side p {
    padding-left: 50px;
    margin-top: 150px;
}
/*overview end*/
/*specificaties start*/
.specific-col, .info-col {	
	font-family: 'Roboto';
    font-size: 14px;
    background-color: #fff;
}
.specific-col {
    padding: 25px 70px;
    color: #bbb;
}
.info-col {
    padding: 25px 350px 25px 30px;
    border-left: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    color: #222429;    
}
.for-height {
    height: 71px;
}
.price-height {
    height: 76px;
}
.summary-height {
    height: 204px;
}
.line-height {
    height: 120px;
}
.line-height span:first-child {
    display: block;
    margin-top: 55px;
}
.price-style, .availability-style, .product-style, 
.rating-style, .info-col button {
	font-weight: bold;
	font-style: normal;
    font-size: 13px;
}
.price-style {
    font-style: italic;
    font-size: 18px;
    color: #17c7be;
}
.availability-style {
    color: #17c7be;
}
.rating-style {
    font-style: italic;
}
.dimension {
    height: 168px;
    border-bottom: 2px solid #d5d8da;
    margin-bottom: 30px;
}
.info-col button {
    width: 120px;
    height: 45px;
    border: 0;
    font-size: 14px;
    background-color: #000;
    color: #fff;
}
/*specificaties end*/
/*video start*/
.main-video {
    padding: 100px;
    border-bottom: 2px solid #f6f6f6;
    background-color: #fff;
}
.main-video iframe {
	margin-bottom: 35px;
}
.main-video span {
	font-size: 48px;
	font-weight: 900;
    font-style: normal;
}
.extra-videos {
    padding: 100px;
    margin-bottom: 30px;
    background-color: #fff;
}
.video {
    float:left;
    margin-right: 35px;
}
.video:last-child {
    margin-right: 0;
}
.video iframe {
    margin-bottom: 20px;
}
.video span {
    font-weight: bold;
    font-style: normal;
    color: #555;
}
/*video end*/
.reviews {
    overflow: hidden;
    margin-bottom: 30px;      
}
.scale, .scale-info {
    height: 630px;
    background-color: #fff;
    border-bottom: 2px solid #d5d8da;
}
.scale-info {
	padding-right: 100px;
	padding-left: 2.5px;
}
.rating-box {
    float: left;
    width: 60px;
    height: 50px;
    padding: 20px;
    margin: 182px 0 0 170px;
    font-size: 43px;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    background-color: #ffba00;
}
.scale-info h2 {
	margin-top: 59px;
    margin-bottom: 59px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 48px;
}
.rating-line {
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}
.rating-line div {
    float: left;
    width: 77px;
    height: 15px;
}
.rating-1 {
    background-color: #003555;
}
.rating-2 {
    background-color: #005853;
}
.rating-3 {
    background-color: #4a8813;
}
.rating-4 {
    background-color: #95ae20;
}
.rating-5 {
    background-color: #eac600;
}
.rating-6 {
    background-color: #ffba00;
}
.rating-7 {
    background-color: #fb9503;
}
.rating-8 {
    background-color: #fb7203;
}
.rating-9 {
    background-color: #fa602a;
}
.rating-10 {
    background-color: #fa4b2a;
}
.score {
    margin-bottom: 20px;
}
.user-line {
    overflow: hidden;
}
.user-line .title {
    float: left;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}
.user-line .number {
    float: right;
    font-size: 16px;
}
.progress-bar {
    position: relative;
    width: 100%;
    background: #e9e9e9;
    height: 10px;
}
.progres {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-1 {
    width: 10%;
    background-color: #003555;
}
.progress-2 {
    width: 20%;
    background-color: #005853;
}
.progress-3 {
    width: 30%;
    background-color: #4a8813;
}
.progress-4 {
    width: 40%;
    background-color: #95ae20;
}
.progress-5 {
    width: 50%;
    background-color: #eac600;
}
.progress-6 {
    width: 60%;
    background-color: #ffba00;
}
.progress-7 {
    width: 70%;
    background-color: #fb9503;
}
.progress-8 {
    width: 80%;
    background-color: #fb7203;
}
.progress-9 {
    width: 90%;
    background-color: #fa602a;
}
.progress-10 {
    width: 100%;
    background-color: #fa4b2a;
}
