body {
    font-family: 'Bender';
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    border: none;
    outline: none;
}
.float-left {
    float: left;
}
.bkgd-white {
    background-color: #fff;
}
.header-wrapper {
    padding-top: 27px;
    width: 100%;
}
.home-header {
    height: 710px;
    background: -ms-linear-gradient(top, rgba(194,213,220,1) 0%, rgba(248,249,249,1) 100%);
    background: -moz-linear-gradient(top, rgba(194,213,220,1) 0%, rgba(248,249,249,1) 100%);
    background: -o-linear-gradient(top, rgba(194,213,220,1) 0%, rgba(248,249,249,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(194,213,220,1)), color-stop(100, rgba(248,249,249,1)));
    background: -webkit-linear-gradient(top, rgba(194,213,220,1) 0%, rgba(248,249,249,1) 100%);
    background: linear-gradient(to bottom, rgba(194,213,220,1) 0%, rgba(248,249,249,1) 100%);
}
.slider-text {
    width: 50%;
}
.slider-text h1 {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 60px;
    font-style: italic;
    font-weight: 900;
    margin: 20.51% 0 7.52%;
}
.slider-text h1 span {
    display: block;
    font-weight: 300;
}
.slider-text p {
    color: #333;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.logo-wrapper {
    width: 14.5%;
    background: #17c7be;
    padding: 32px 0;
}
.logo-wrapper a {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}
.logo-wrapper span {
    display: block;
    margin-top: 2px;
    font-size: 32px;
    line-height: 30px;
    font-weight: 200;
}
.main-nav {
    width: 71%;
}
.main-nav-list {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #f1f1f1;
}
.main-nav-list > li {
    float: left;
    padding: 2px 0;
    line-height: 54px;
    border-bottom: 2px solid transparent;
}
.main-nav-list > li:first-child {
    width: 7.71%;
}
.main-nav-list > li:nth-child(2) {
    width: 8.77%;
}
.main-nav-list > li:nth-child(3) {
    width: 17%;
}
.main-nav-list > li:nth-child(4) {
    width:7%;
}
.main-nav-list > li:nth-child(5) {
    width: 10.52%;
}
.main-nav-list > li:nth-child(6) {
    width: 14%;
}
.main-nav-list > li:nth-child(7) {
    width: 14%;
}
.main-nav-list > li:nth-child(8) {
    width: 8.75%;
}
.main-nav-list > li:nth-child(9) {
    width: 12.25%;
}
.main-nav-list > li > a {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: 900;

}
.main-nav-list > li:hover {
    color: #fff;
    background: #000;
    border-bottom: 2px solid #000;
}
.main-nav > div {
    height: 60px;
}
.control {
    width: 14.5%;
}
.mobile-trigger {
    background-color: #fff;
    height: 58px;
    box-sizing: border-box;
    display: none;
}
.change-local-wrapper {
    height: 58px;
    padding-top: 17px;
    box-sizing: border-box;
}
.change-local-wrapper select {
    display: block;
    border: none;
}
.widget-cart {
    position: relative;
}
.cart-text {
    width: 66.05%;
    padding-left: 10%;
    box-sizing: border-box;
}
.cart-amount {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
}
.items-counter {
    color: #999;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
}
.cart-dropdown {
    position: absolute;
    width: 270px;
    height: 315px;
    background-color: #fff;
    z-index: 5;
    right: 0;
    display: none;
}
.widget-cart:hover .cart-dropdown {
    display: block;
}
.widget-cart:hover .items-cart-inner {
    background-color: #fff;
}
.widget-cart:hover .cart-amount {
    color: #000;
}
.widget-cart:hover .items-cart i {
    color: #e9e9e9;
}
.cart-dropdown h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
.cart-dropd-item-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 18px 30px 0 18px;
}
.cart-dropd-item-wrapper div {
    margin-left: 12px;
    float: left;
    max-width: 140px;
}
.cart-dropd-item-wrapper span {
    color: #17c7be;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    bottom: 0;
}
.cart-dropd-item-wrapper img {
    float: left;
}
.cart-dropd-item-wrapper > a {
    position: absolute;
    top: 36px;
    right: -14px;
}
.cart-dropdown-checkout a {
    display: block;
    width: 112px;
    height: 39px;
    background-color: #17c7be;
    line-height: 39px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    margin: 29px 0 0 79px;
}
.items-cart-inner {
    height: 62px;
    background-color: #000;
    padding-top: 10px;
    box-sizing: border-box;
}
.items-cart-inner i {
    font-size: 38px;
    color: #333;
}
.items-cart-inner span {
    display: block;
}
.mobile-search {
    float: left;
    display: none;
}
.mobile-search a {
    display: block;
}
.search {
    width: 100%;
}
.search-panel {
    padding: 13px 0 0 13px;
    box-sizing: border-box;
}
.search-field {
    width: 61.76%;
    position: relative;
}
.search-results {
    position: absolute;
    right: 48px;
    top: 8px;
}
.search-results p {
    margin: 0;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}
.search-results a {
    display: block;
    margin: 5px 0 0 8px;
}
.search input {
    height: 34px;
    border: none;
    border-left: 2px solid #d0d0d0;
    color: #999;
    font-size: 16px;
    font-style: italic;
    background-color: #e9e9e9;
    padding-left: 19px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}
.search button {
    width: 34px;
    height: 34px;
    background-image: url(../img/search_icon.png);
    position: absolute;
    right: 0;
}
.gender-select select {
    height: 34px;
    outline: none;
    border: none;
    background-color: #e9e9e9;
}
.more-links {
    padding-top: 6px;
    width: 24.1%;
    box-sizing: border-box;
}
.more-links a {
    display: block;
    width: 50%;
    text-align: center;
}
.drop-trigger {
    position: relative;
}
.mega-menu {
    position: absolute;
    width:1000px;
    z-index: 10;
    display: none;
    left: 0;
    text-align: left;
}
.mega-menu h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    padding: 25px 0;
    box-sizing: border-box;
}
.set li {
    color: #999;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.set li:hover {
    color: #17c7be;
    font-weight: 700;
}
.set ul {
    margin-bottom: 30px;
}
.mega-menu > a {
    display: block;
    margin: 0 0 0 25px;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
}
.megam-section-border {
    border-top:1px solid #333;
    border-bottom:1px solid #333;
}
.megam-section-border-bottom {
    border-bottom:1px solid #333;
}
.mega-menu-column {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 25px;
}
.drop-trigger:hover .mega-menu {
    display: initial;
    background-color: #000;
}
footer {
    font-family: 'Roboto';
}
footer li,
.newsletter p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer-inner-wrapper {
    background-color: #000;
}
.footer-inner-wrapper div:nth-child(4) {
    padding-right: 2.56411%;
}
.footer-copyright {
    clear: both;
    padding: 0 2.56411%;
    margin: 60px 0 0 0;
    padding-bottom: 20px;
}
footer nav h4,
.newsletter h4 {
    color: #fff;
    font-family: 'Bender';
    font-size: 18px;
    font-weight: 900;
    margin: 27px 0;
}
.newsletter h4 {
    margin-bottom: 24px;
}
footer ul {
    margin: 0;
}
footer li,
.newsletter p,
.newsletter input,
.powered-by  {
    color: #999;
}
.powered-by {
    float: left;
    font-size: 14px;
    font-weight: 400;
}
.powered-by a {
    color: #f9f9f9;
}
.email-subscribe button {
    width: 34px;
    height: 34px;
    background-image: url(../img/footer_submit_button.png);
    position: absolute;
    right: 0;
}
.email-subscribe {
    width: 100%;
}
.email-subscribe form {
    width: 100%;
    position: relative;
}
.email-subscribe input {
    height: 34px;
    border: none;
    color: #999;
    font-size: 14px;
    font-style: italic;
    background-color: #000;
    width: 100%;
    padding-left: 13px;
    box-sizing: border-box;
}
.back-on-top {
    color: #fff;
    float: right;
    font-family: 'Bender';
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
}
.back-on-top img {
    display: inline-block;
    margin-left: 9px;
}
footer .grid-3 {
    padding-left: 2.56411%;
}
.social-links ul {
    margin: 28px 0 0 0;
    width: 100%;
}
.social-links li {
    float: left;
    width: 14.28%;
}
.social-links {
    width: 100%;
}
.social-links li a {
    background: url('../img/footer_social_icons.png') no-repeat;
    width: 26px;
    height: 26px;
    display: block;
}
.social-links li:nth-child(2) a {
    background-position: -34px 0;
}
.social-links li:nth-child(3) a {
    background-position: -68px 0;
}
.social-links li:nth-child(4) a {
    background-position: -102px 0;
}
.social-links li:nth-child(5) a {
    background-position: -136px 0;
}
.social-links li:nth-child(6) a {
    background-position: -170px 0;
}
.social-links li:nth-child(7) a {
    background-position: -204px 0;
}
@media (max-width: 1281px) {
    .facebook {
        overflow: hidden;
    }
}
@media (max-width: 1241px) {
    .more-links {
        width: 20%;
    }
    .search-field {
        width: 55%;
    }
}
@media (max-width: 1024px) {
    .product-list > li,
    .adv-1,
    .adv-2,
    .adv-3,
    .about,
    .twitter,
    .facebook,
    .brand {
        width: 33.3333333333%;
    }
    .product-list > li:nth-child(4),
    .brands-wrapper > div:nth-of-type(4),
    .about p:nth-child(3) {
        display: none;
    }

}
@media (max-width: 890px) {
    .main-nav,
    .local-control,
    .widget-cart:hover .cart-dropdown,
    .cart-text .items-counter {
        display: none;
    }
    .mobile-trigger,
    .mobile-search {
        display: block;
    }
    .control {
        width: 50%;
    }
    .logo-wrapper {
        width: 50%;
    }
    .mobile-trigger {
        line-height: 58px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
    }
    .mobile-search {
        width: 44%;
        line-height: 60px;
        text-align: center;
    }
    .items-cart {
        width: 56%;
        float: left;
    }
    .widget-cart {
        box-sizing: border-box;
        border-top: 2px solid #f1f1f1;
    }
    .items-cart-inner,
    .mobile-search {
        background-color: #fff;
    }
    .items-cart-inner {
        height: 60px;
    }
    .widget-cart:hover .cart-amount {
    color: #000;
    }
    .widget-cart .cart-amount {
    color: #000;
    }
    .widget-cart:hover .items-cart i {
    color: #e5e5e5;
    }
    .widget-cart .items-cart i {
    color: #e5e5e5;
    }
}